<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <My.MySettings>
      <setting name="PropertyViewer_ShowHeader" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowSuppressedProperties" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowClasses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowObjects" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowCurrentDimstlye" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowInstances" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowHiddenProperties" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowTables" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowEntities" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowScreenSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowDimSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowLTLSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowTableSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowTextSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowDisplaySettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowDimOverrideSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowSymbolSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowBlocks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PropertyViewer_ShowHiddenObjects" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PropertyViewer_ShowTableVPORTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowTableLTYPES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PropertyViewer_ShowTableLAYERS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PropertyViewer_ShowTableSTYLES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PropertyViewer_ShowTableVIEWS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowTableUCSS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowTableAPPIDS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowTableDIMSTYLES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowTableBLOCKRECORDS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropertyViewer_ShowSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProperyViewer_WorkingFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="PropertyViewer_SuppressDimOverrides" serializeAs="String">
        <value>False</value>
      </setting>
    </My.MySettings>
  </userSettings>
</configuration>