<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dxfGraphicsTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <dxfGraphicsTest.My.MySettings>
            <setting name="WorkingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EntityBounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtentPts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextBoxes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EntityOCS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuppressScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtentRectangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayLineweights" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCodeLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalView" serializeAs="String">
                <value>False</value>
            </setting>
        </dxfGraphicsTest.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>